.background    { background: linear-gradient(to bottom, rgba(9,34,99,1) 0%, rgba(129,89,189,1) 48%, rgba(255,183,59,1) 100%);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(48, 64, 186); }
.wall          { background: rgb(201, 12, 81);   }
.floater       { background: purple;  }

.game {
  position: relative;
}
